.head {
  margin: 0px;
  padding: 0px;
  min-height: 52px;
  max-height: 75px;
  height: auto;
}

.head h2 {
  color: #333;
  line-height: normal;
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: 700;
  font-size: 18px;
  font-family: "Helvetica neue",Helvetica,Verdana,Sans-serif;
  text-align: left;
}

.rating {
  color: #333;
  line-height: normal;
  margin: 0;
  border: 0;
  font-weight: normal;
  font-family: verdana !important;
  font-size: 10px;
  padding-top: 10px;
}

.stars {
  display: inline-block;
  width: 89px;
}

.count {
  display: inline;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  margin-left: 5px;
  text-decoration: none;
  color: #0654ba;
  font-family: "Helvetica neue",Helvetica,Verdana,Sans-serif;
  cursor: pointer;
  text-decoration-line: none;
  text-decoration-style: solid;
}

.count:hover {
  text-decoration-color: rgb(6, 84, 186);
  text-decoration: underline;
}

.head .rating .stars {
  line-height: normal;
  color: #0654ba;
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
  position: relative;
  top: 2px;
  font-family: "Helvetica neue",Helvetica,Verdana,Sans-serif;
}

.head .rating .stars .empty {
  line-height: normal;
  color: #0654ba;
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
  background-image: url('//ir.ebaystatic.com/f/ndzx0lxole32fflkcjkfbyzulah.png');
  background-size: 185px 138px;
  width: 15px;
  height: 15px;
  overflow: hidden;
  text-align: left;
  display: inline-block;
  background-position: -38px -122px;
  font-family: "Helvetica neue",Helvetica,Verdana,Sans-serif;
  margin-right: 2px;
}

.head .rating .stars .mid {
  line-height: normal;
  color: #0654ba;
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
  background-image: url('//ir.ebaystatic.com/f/ndzx0lxole32fflkcjkfbyzulah.png');
  background-size: 185px 138px;
  width: 15px;
  height: 15px;
  overflow: hidden;
  text-align: left;
  display: inline-block;
  background-position: -56px -122px;
  font-family: "Helvetica neue",Helvetica,Verdana,Sans-serif;
  margin-right: 2px;
}

.head .rating .stars .full {
  line-height: normal;
  color: #0654ba;
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
  background-image: url('//ir.ebaystatic.com/f/ndzx0lxole32fflkcjkfbyzulah.png');
  background-size: 185px 138px;
  width: 15px;
  height: 15px;
  overflow: hidden;
  text-align: left;
  display: inline-block;
  background-position: -20px -122px;
  font-family: "Helvetica neue",Helvetica,Verdana,Sans-serif;
  margin-right: 2px;
}

