#description-root {
  /* max-width: 957px;
  min-width: 774px; */
  /* height: 565px;
  position: relative;
  z-index: 1;
  margin: 15px 0px;
  width: 63.9%;
  min-width: 755.3px;
  position: absolute;
  left: 36%;
  top: 16%;
  z-index: 3; */
  position: absolute;
  left: 40%;
  top: 18%;
  text-align: left;
  z-index: 1;
  margin: 0 10% 0 0;
  width: 50%;
  min-width: 650px;
  min-height: 565px;
}