.description-logistics-true {
  background-color: #f8f8f8;
  margin-top: 20px;
  border: 1px solid black;
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 33%;
}

.description-logistics-true .left-column {
  grid-column: 1;
  display: grid;
  grid-template-rows: 9% 26% 6% 16% 9% 19% 6% 9%;
}

.description-logistics-true .left-column .shipping-label {
  grid-row: 1;
  line-height: normal;
  font-size: small;
  text-align: right;
  color: #636363;
  padding-right: 13px;
  font-weight: normal;
  font-family: "Helvetica neue",Helvetica,Verdana,Sans-serif;
}

.description-logistics-true .left-column .payments-label {
  grid-row: 4;
  line-height: 26px;
  font-size: small;
  text-align: right;
  color: #636363;
  padding-right: 13px;
  font-weight: normal;
  font-family: "Helvetica neue",Helvetica,Verdana,Sans-serif;
}
.description-logistics-true .left-column .returns-label {
  grid-row: 8;
  line-height: normal;
  font-size: small;
  text-align: right;
  color: #636363;
  padding-right: 13px;
  font-weight: normal;
  font-family: "Helvetica neue",Helvetica,Verdana,Sans-serif;
}

.description-logistics-true .right-column {
  grid-column: 2;
  display: grid;
  grid-template-rows: 9% 26% 6% 16% 9% 19% 6% 9%;
}
.description-logistics-true .right-column .fast-n-free-wrap {
  grid-row: 1;
  color: #333;
  line-height: normal;
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
  transform: translateY(-3px);
  font-family: "Helvetica neue",Helvetica,Verdana,Sans-serif;
}

.description-logistics-true .right-column .fast-n-free-wrap img {
  color: #333;
  line-height: normal;
  font-weight: normal;
  font-size: 100%;
  vertical-align: middle;
  height: 100%;
  margin-bottom: 0;
  margin-right: 5px;
  font-family: "Helvetica neue",Helvetica,Verdana,Sans-serif;
}
.fast-n-free-span {
  color: #333;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 13px;
  display: inline-block;
  vertical-align: middle;
  line-height: 20px;
  font-weight: 400;
  font-family: "Helvetica neue",Helvetica,Verdana,Sans-serif;
}

.fast-n-free-text {
  line-height: 20px;
  margin: 0;
  padding: 0;
  border: 0;
  color: #23804f;
  font-weight: 400;
  font-size: 13px;
  font-family: "Helvetica neue",Helvetica,Verdana,Sans-serif;
}